*{
    box-sizing: border-box;
}

body{
    height: 90vh;
    background-color: rgb(130, 132, 154);
}

#main-cont{
    display:flex;
    width:360px;
    height: 600px;
    /* border: 1px solid #000; */
    border-radius: 5px;
    margin: 5em auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em 1em;
    background-color: rgb(195, 199, 202);
}

#screen-cont{
    width:350px;
    height: 95px;
    /* border: 1px solid magenta; */
    margin-bottom: 0.5em;
}

.screen{
    text-align: right;
    /* border: 1px solid magenta; */
    padding-right: 20px;
    margin-bottom: 0.2em;
}

.top-screen{
    height: 1.3em;
    font-size: 1.3rem;
}
.main-screen{
    height: 1.2em;
    font-size: 3.5rem;
}

#keypad-cont{
    width:350px;
    height: 425px;
    /* border: 1px solid magenta; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    user-select: none;
    grid-gap: 0;
}

.key-button{
    width:85px;
    height:83px;
    /* border: 1px solid magenta; */
    font-size:2rem;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 1px;
}

.operators,
.clear-all,
.clear-entries,
.backspace{
    background-color: rgb(228, 223, 223);
}

.equal{
    background-color: rgb(133, 192, 243);
}

.key-button:hover{
    background-color: rgb(195, 199, 202);
    transform: scale(1.05);
    cursor: default;
}

#past-entries{
    width:40px;
    height: 40px;
    /* border:1px solid magenta; */
    position: relative;
    top:5px;
    left:150px;
    text-align: center;
    background-color: rgb(195, 199, 202);
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.631);
    cursor:default;
    user-select: none;
}

#past-entries:hover{
    background-color: rgb(195, 199, 202);
    /* transform: scale(1.05); */
    cursor: default;
    border: 1px solid gray;
}

#pop-up-window{
    display: none;
    flex-direction: column;
    width: 360px;
    height: 430px;
    position: absolute;
    /* border: 1px solid magenta; */
    top:195px;
    left:195px;
    padding:1em;
    transition: all 1s ease-in;
    transform: translateX(29%);
    background-color: rgb(161, 163, 164);
}

.entries{
    height: 40px;
    font-size: 1.5rem;
    /* border: 1px solid magenta; */
    margin-bottom: 1.5em;
}
